
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
  }
  main h1 {
    margin-bottom: 50px;
  }
  
  .wrapper {
    position: relative;
    margin-bottom: 100px;
    width: 80%;
    left: 10%;
  }

  .wrapper:before, .wrapper:after {
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    width: 50px;
    height: 100%;
  }
  .wrapper:before {
    left: 0;
    background: linear-gradient(90deg, #fff, transparent);
    content: "<";
    color: #c9962d;
    font-size: 30px;
    line-height: 130px;
  }
  .wrapper:after {
    right: 0;
    background: linear-gradient(-90deg, #fff, transparent);
    content: ">";
    color: #c9962d;
    font-size: 30px;
    line-height: 130px;
  }
  
  .items {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
  }
  .items.active {
    cursor: grab;
  }
  
  .item {
    display: inline-block;
    user-select: none;
    width: 50%;
    height: 130px;
    color: #222;
    font-size: 33px;
    font-weight: bold;
    line-height: 130px;
  }
  
  @media screen and (min-width: 500px) {
    .item {
      width: 33%;
    }
  }
  @media screen and (min-width: 800px) {
    .item {
      width: 25%;
    }
  }
  @media screen and (min-width: 1200px) {
    .wrapper {
      margin-left: -20px;
    }
  
    .item {
      width: 20%;
    }
  }
  
